container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: analyzer/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: analyzer.settings
  - option_name: AWS_SECRET_KEY
    value: 5w0hoa6dV3OvvM3xc+rHyZeW3QZS/DAHXra7X4l3
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIEWQXUG2WMBMMSXA

packages:
  yum:
    gcc-c++: []
    gcc-gfortran: []
    python-devel: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
  python:
    numpy: []
    scipy: []
    

