<div class="row">
  <div class="large-8 large-offset-1 columns">
    <br>
    <h2>API Docs</h2>
    <hr/>

    <h4>I. Resource URL Patterns</h4>

    <p>/api/v0/datasets/</p>
    <p>/api/v0/datasets/{dataset_id}</p>
    <p>/api/v0/datasets/{dataset_id}/variables/</p>
    <p>/api/v0/datasets/{dataset_id}/variables/{variable_id}</p>

    <h4>II. Authorization</h4>

    <p><a href="#/api-token">Retrieve API Token</a></p>
    <p>All requests require API token. You must add your token to the request header as follows:</p>
    <p><code>curl -H 'Authorization: Token 35f79a7a3934a249ea2f1d2bdc5032ad2a0c5e3d' ... rest of request ...</code></p>

    <h4>III. Datasets</h4>

    <p>All of the data lives in the datasets. A user can have multiple datasets to store related data.</p>

    <p><strong>i) attributes:</strong></p>
    <p>id: integer - read only</p>
    <p>name: string - The name of the dataset.</p>
    <p>owner: string - The user who owns the dataset. - read only</p>

    <p><strong>ii) Create a new dataset:</strong></p>
    <p>POST /api/v0/datasets/</p>

    <p>name: required</p>
    <p>file: optional - in csv form</p>

    <p>Example request:</p>
    <p><code>curl -i -X POST -H 'Authorization: Token 35f79a7a3934a249ea2f1d2bdc5032ad2a0c5e3d’ -F file='@analyzer_test.csv' -F name="mydataset"  http://localhost:8000/api/v0/datasets/</code></p>

    <p><strong>iii) List all datasets for user</strong></p>
    <p>GET /api/v0/datasets/</p>

    <p><strong>iv) Retrieve an existing dataset</strong></p>
    <p>GET /api/v0/datasets/{dataset_id}</p>

    <p>id: required</p>

    <p><strong>v) Update a dataset</strong></p>
    <p>PUT /api/v0/datasets/{dataset_id}</p>

    <p>dataset_id: required</p>
    <p>name: optional</p>

    <p><strong>vi) Delete dataset</strong></p>
    <p>DELETE /api/v0/datasets/{dataset_id}</p>

    <p>id: required</p>

    <h4>II. Variables</h4>

    <p>Variables contain metadata and the actual variable values. All variables are assigned to a dataset.</p>

    <p><strong>i) attributes</strong></p>

    <p>id: integer - read only</p>
    <p>name: string - The name of the variable.</p>
    <p>dataset: string - The id of the dataset containing the variable.</p>
    <p>datatype: string - The type of data that is stored in the variable. Can be string, boolean, integer, float or date.</p>
    <p>subtype: continuous or discrete</p>
    <p>values: array - The array containing the values of the variable. The primitives inside the array must be the same as the specified datatype.</p>

    <p><strong>ii) List all variables within a dataset</strong></p>
    <p>GET /api/v0/datasets/{dataset_id}/variables/</p>

    <p>dataset: required</p>

    <p><strong>iii) Retrieve an existing variable</strong></p>
    <p>GET /api/v0/datasets/{dataset_id}/variables/{variable</em>id}/</p>

    <p>dataset id: required</p>
    <p>variable id: required</p>

    <p><strong>iv) Update a variable</strong></p>
    <p>PUT /api/v0/datasets/{dataset_id}/variables/{variable</em>id}/</p>

    <p>dataset id: required</p>
    <p>variable id: required</p>
    <p>name: optional</p>
    <p>subtype: optional</p>
  </div>
</div>