<div style="margin-top: 30px;" class="row">
  <div class="large-4 large-offset-4 column">
    <h3>Upload CSV File</h3>
    <hr>
    <div class="panel callout radius">
      <h5>Important!</h5>
      <p>CSV file with top row as header row and commas as separating characters.</p>
    </div>
    <label for="fileToUpload">Select a File to Upload</label>
    <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
    <br />
    <label style="margin-top: 15px;">Dataset Name</label>
    <input type="text" ng-model="name" />
  </div>
</div>

<div ng-show="files" class="row">
  <div class="large-4 large-offset-4 column">
    <input ng-hide="upload_done" class="button" type="button" ng-click="uploadFile()" value="Upload" />
    <div ng-show="progressVisible">
        <div class="percent">{{progress}}%</div>
        <div class="progress-bar">
            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
        </div>
    </div>
    <div ng-show="upload_done" ng-conroller="DatasetCtrl">
      <p>Upload done!</p>
      <a href="/" ng-click="reload()" class="button">Return</a>
    </div>
  </div>
</div>
